<h1>All Discounts</h1>
<h2><%= link_to "Create New Discount", "/merchant/discounts/new" %></h2>
<% @merchant.discounts.each do |discount| %>
  <section id='discount-<%= discount.id %>'>
  <hr>
  <p>Percentage Off : <%= discount.discount_percentage %></p>
  <p>Minimum Quantity Required : <%= discount.minimum_quantity %></p>
  <p>Description : <%= discount.description %></p>
  <%= link_to 'Edit Discount', "/merchant/discounts/edit/#{discount.id}" %>
  <%= link_to 'Delete Discount', "/merchant/discounts/#{discount.id}", method: :delete %>
<% end %>
</section>
</ul>
<br>
