<h2>New Discount</h2>

<%= form_tag '/merchant/discounts' do %>
  <%= label_tag :discount_percentage %>
  <%= text_field_tag :discount_percentage %>

  <%= label_tag :minimum_quantity %>
  <%= text_field_tag :minimum_quantity %>

  <%= label_tag :description %>
  <%= text_field_tag :description %>

  <%= submit_tag 'Create New Discount' %>
<% end %>
